<div class="row">
    <%= render("/layouts/sidebar") %>

    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <h3><%= @user.name %>さんがいいね！をした投稿</h3>
            </div>
        </div>
        <%= render("/posts/shares_index", posts: @posts) %>
    </div>
</div>