<div class="row">
  <%= render("/layouts/sharemode_sidebar") %>
  <div class="col-xs-10">
    <h2>検索結果</h2>
    <% if(@posts.present?) %>
      <%= render("/posts/shares_index", posts: @posts) %>
    <% else %>
      <h3>検索結果がありません。</h3>
    <% end %>
  </div>
</div>