// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.source-table {
    margin-top: 5vh;
}

#detail-field {
    display: none;
}

#source-modal {
    input {
        width: 100%;
    }
}

.post-description {
    padding-top: 2vh;
    text-decoration: underline;
}

.wizard .btn {
    margin-top: 2vh;
}
/* Bootstrap thems
-------------------------------------------------- */
.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
body .no-padding {
    padding: 0;
}
.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}
.status-upload .btn {
    margin: 2vh 3vw 0 0;
}
textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid rgb(8, 170, 199);
}
.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}
.status-upload ul > li {
    float: left;
}
.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.status-upload form btn-success {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}
.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}
.status-upload form button > i {
    margin-right: 7px;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}
.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}
.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}
.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}
@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
/* Bootstrap thems
-------------------------------------------------- */

/* === ボタンを表示するエリア ============================== */
.is_sharing-button, .is_original-button {
    margin         : auto;                /* 中央寄せ           */
    width          : 10vh;                /* ボタンの横幅       */
}

/* === チェックボックス ==================================== */
.is_sharing-button input[type="checkbox"], .is_original-button input[type="checkbox"] {
    display        : none;            /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.is_sharing-button label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    text-align     : center;              /* 文字位置は中央     */
    border         : 2px solid #ccc;      /* 枠線(一旦四方向)   */
    border-radius  : 3px;                 /* 角丸               */
    height         : 60px;                /* ボタンの高さ       */
    font-size      : 18px;                /* 文字サイズ         */
    line-height    : 60px;                /* 太字               */
    font-weight    : bold;                /* 太字               */
    background     : #9fc24d;                /* 背景色             */
    box-shadow     : 3px 3px 6px #888;    /* 影付け             */
    transition     : .3s;                 /* ゆっくり変化       */
}

/* === ON側のチェックボックスのラベル（ONのとき） ========== */
.is_sharing-button label span:after{
    content        : "note";               /* 表示する文字       */
    color          : #fff;
}
.is_sharing-button #is_sharing:checked + label {
    background     : #e9bc00;             /* 背景色             */
    box-shadow     : none;                /* 影を消す           */
}
.is_sharing-button #is_sharing:checked + label span:after {
    content        : "share";                /* 表示する文字       */
    color          : #fff;                /* 文字色             */
}

/* === チェックボックスのラベル（標準） ==================== */
.is_original-button label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    text-align     : center;              /* 文字位置は中央     */
    border         : 2px solid #ccc;      /* 枠線(一旦四方向)   */
    border-radius  : 3px;                 /* 角丸               */
    height         : 60px;                /* ボタンの高さ       */
    font-size      : 18px;                /* 文字サイズ         */
    line-height    : 60px;                /* 太字               */
    font-weight    : bold;                /* 太字               */
    background     : #ffcccc;                /* 背景色             */
    box-shadow     : 3px 3px 6px #888;    /* 影付け             */
    transition     : .3s;                 /* ゆっくり変化       */
}

/* === ON側のチェックボックスのラベル（ONのとき） ========== */
.is_original-button label span:after{
    content        : "Quoted";               /* 表示する文字       */
    color          : #fff;
}
.is_original-button #is_original:checked + label {
    background     : #ff9494;             /* 背景色             */
    box-shadow     : none;                /* 影を消す           */
}
.is_original-button #is_original:checked + label span:after {
    content        : "Original";                /* 表示する文字       */
    color          : #fff;                /* 文字色             */
}