// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-description, #search_word, #search-submit {
    display: none;
}

#search-introduction, #search-description {
    font-size: 11px;
}

#search-submit {
    margin-top: 2vh;
}