<h4><%= User.find_by(email: @resource.email).name %>様</h4>

<p>
  Phrase.lib運営です。いつも当サービスをご利用いただきありがとうございます。<br>
  パスワード変更のご確認のため、メールをお送りしております。<br>
  以下のリンクよりパスワードをご変更ください。<br>
</p>

<strong><%= link_to("パスワード変更はこちら", edit_password_url(@resource, reset_password_token: @token)) %></strong>

<p>もしこのメールに心当たりがない場合はお手数ですが以下のメールアドレスまでお知らせください。</p>
<%= mail_to(ENV["PERSONAL_MAIL"]) %>